// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.price-card {
    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 332px;
    }
}

.fs-16 {
    font-size: 16px;
}
